<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Archane Collection</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./../static/styles.css" />
  </head>
  <body>
    <!-- Navbar Div -->
    <div class="navbar-div">
      <h1 class="nav-logo" onclick="location.href='./';">TabSpace.</h1>
      <div class="nav-line"></div>
      <div class="profile-div">
        <img src="./../static/assets/user.png" alt="" class="profile-icon" />Michael
      </div>
      <div class="search-div" contenteditable="True" style="outline: 0;">
        <img
          src="./../static/assets/magnifying-glass.png"
          alt=""
          class="search-icon"
        />Search NFT
      </div>
      <button class="create-navbtn" onclick="location.href='./create';">Create</button>
    </div>

    <!-- Left Div -->
    <div class="left-div">
      <h1 class="main-h1">Add more digital rarities to your space.</h1>
      <p class="main-p">
        Where NFTs meet cutting-edge AI
      </p>
      <button class="create-btn" onclick="location.href='./create';">Create</button>
      <h3 class="collection-h3">Archane Collection</h3>

      <!-- Grid Div -->
      <div class="grid-div">
        <div class="nft1-div">
          <img src="./../static/assets/ARA.png" alt="" class="nft1-img" />
          <div class="nft1-textdiv">
            <h1 class="nft1-h1">ARA</h1>
            <h2 class="nft1-acr">
              <img
                src="./../static/assets/user.png"
                alt=""
                class="profile-icon1"
              />Tabspace
            </h2>
            <h3 class="nft1-current">Current Bid</h3>
            <h3 class="nft1-price">0.01 TZ</h3>
            <button class="nft1-viewbtn">View</button>
          </div>
        </div>
        <div class="nft2-div">
          <img src="./../static/assets/MAY.png" alt="" class="nft2-img" />
          <div class="nft2-textdiv">
            <h1 class="nft2-h1">MAY</h1>
            <h2 class="nft2-acr">
              <img
                src="./../static/assets/user.png"
                alt=""
                class="profile-icon1"
              />Tabspace
            </h2>
            <h3 class="nft2-current">Current Bid</h3>
            <h3 class="nft2-price">0.02 TZ</h3>
            <button class="nft2-viewbtn">View</button>
          </div>
        </div>
        <div class="nft3-div">
          <img src="./../static/assets/MER.png" alt="" class="nft3-img" />
          <div class="nft3-textdiv">
            <h1 class="nft3-h1">MER</h1>
            <h2 class="nft3-acr">
              <img
                src="./../static/assets/user.png"
                alt=""
                class="profile-icon1"
              />Tabspace
            </h2>
            <h3 class="nft3-current">Current Bid</h3>
            <h3 class="nft3-price">0.03 TZ</h3>
            <button class="nft3-viewbtn">View</button>
          </div>
        </div>
        <div class="nft4-div">
          <img src="./../static/assets/NSH.png" alt="" class="nft4-img" />
          <div class="nft4-textdiv">
            <h1 class="nft4-h1">NSH</h1>
            <h2 class="nft4-acr">
              <img
                src="./../static/assets/user.png"
                alt=""
                class="profile-icon1"
              />Tabspace
            </h2>
            <h3 class="nft4-current">Current Bid</h3>
            <h3 class="nft4-price">0.04 TZ</h3>
            <button class="nft4-viewbtn">View</button>
          </div>
        </div>
        <div class="nft5-div">
          <img src="./../static/assets/RAV.png" alt="" class="nft5-img" />
          <div class="nft5-textdiv">
            <h1 class="nft5-h1">RAV</h1>
            <h2 class="nft5-acr">
              <img
                src="./../static/assets/user.png"
                alt=""
                class="profile-icon1"
              />Tabspace
            </h2>
            <h3 class="nft5-current">Current Bid</h3>
            <h3 class="nft5-price">0.05 TZ</h3>
            <button class="nft5-viewbtn">View</button>
          </div>
        </div>
        <div class="nft6-div">
          <img src="./../static/assets/TYA.png" alt="" class="nft6-img" />
          <div class="nft6-textdiv">
            <h1 class="nft6-h1">TYA</h1>
            <h2 class="nft6-acr">
              <img
                src="./../static/assets/user.png"
                alt=""
                class="profile-icon1"
              />Tabspace
            </h2>
            <h3 class="nft6-current">Current Bid</h3>
            <h3 class="nft6-price">0.06 TZ</h3>
            <button class="nft6-viewbtn">View</button>
          </div>
        </div>
      </div>
    </div>

    <div class="vline-div"></div>

    <!-- Right Div -->
    <div class="right-div">
      <div class="nft0-div">
        <img src="./../static/assets/TAB.png" alt="" class="nft0-img" />
      </div>
      <div class="nft0-textdiv">
        <h1 class="nft0-h1">TAB</h1>
        <h2 class="nft0-acr">
          <img src="./../static/assets/user.png" alt="" class="profile-icon2" />Tabspace
        </h2>
        <p class="desc0">
          As mankind ceases to exist, the Earth brought out a legion of superior beings as if crafted by the gods themselves. Beings once known only in myths and legends now find their existence in our SPACE.
        </p>
        <h3 class="nft0-current">Current Bid</h3>
        <h3 class="nft0-price">1.82 TZ</h3>
        <div class="inputbid-div" contenteditable="True" style="outline: 0px">
          Enter Bid
        </div>
        <button class="place-btn">Place Bid</button>
      </div>
    </div>

    <!-- Footer Div -->
    <div class="footer-div">
      <div class="footer-h2">© 2022 Tabspace. All Rights Reserved</div>
      <p class="footer-privacy">Privacy Policy</p>
      <p class="footer-terms">Terms of Service</p>
    </div>
    <script src="./../static/index.js"></script>
  </body>
</html>
